.header {
	background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
	color: white;
    padding-left: 5%;
	height: 7%;
	display: -webkit-inline-box;
}

.title {
	width: 40%; 
	font-size: 40px;
}

.nav {
	color: white; 
	width: 40%; 
	padding-left: 20%; 
	padding-top: 1%;
}

.nav-element {
	vertical-align: -webkit-baseline-middle; 
	color: white; 
	font-size: 25px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   text-align: center;
}

.body {
	background-size: cover;
}

.content {
	height: 1000px;
}